
.vs/VSWorkspaceState.json
.vs/TryParentHWND/v16/Server/sqlite3/storage.ide
.vs/TryParentHWND/v16/Server/sqlite3/db.lock
.vs/TryParentHWND/v16/.suo
.vs/TryParentHWND/v15/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
